/* Base Styles */
* {
    box-sizing: border-box;
}

body {
    color: #fff;
    margin: 10px;
    padding: 10px;
    font: 0.8em "Arial", sans-serif;
    background: #000040;
}

h1{
    text-align: center;
    font-size: 4rem;
}

h2 {
    font-family: Arial, sans-serif;
    font-size: 3rem;
    color: #fff;
    font-weight: normal;
    line-height: 1.3;
    margin: 12px 0 0;
    text-shadow: 0 1px 1px rgba(0,0,0,.8);
    display: inline-block;
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
    margin-bottom: 30px;
    padding: 30px 50px;
}

/* Main Styles */

.main-header {
    padding-top: 20px;
}

#main-content {
    text-align: left;
    padding-left: 100px;
}

input {
    padding: 20px;
    text-align: left;
    font-size: 16px;
    height: 70px;
    width: 500px;
    border: 0;
    border-bottom: 4px solid red;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 5px;
}

form {
    padding-left: 50px;
}

img {
    float: right;
    width: 36%;
    height: 36%;
    z-index: -1;
}

.head {
    padding-top: 100px;
}

/* Media Styles */

@media (max-width: 1032px) {

    body {
        background: #fff;
        background: #000040;
        margin: 0;
        padding-left: 0px;
        border: none;
    }

    .head {
        text-align: center;
        font-size: 0.7em;
        padding-left: none;
    }

    .name-input {
        text-align: center;
    }

    input {

    }

    .right-image {
        display: none;
    }

}

@media (max-width: 768px) {

    body {
        background: #fff;
        background: #000040;
        margin: 0;
        padding-left: 0;
        border: none;
    }

    .head {
        text-align: center;
        font-size: 0.7em;
        padding-left: none;
    }

    .name-input {
        text-align: center;
    }

    .right-image {
        display: none;
    }

}