/* Base Styles -------------- */
* {
    box-sizing: border-box;
}

body {
    font-family: "Arial", sans-serif;
    text-align: center;
    background-color: #000040;
}

img {
    padding-top: 40px;
    height: 36%;
    width: 36%;
    float: right;
}

h1 {
    padding-top: 12%;
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

h1, h2 {
    color: white;
    text-shadow: 0 1px 1px rgba(0,0,0,.8);
}

form {
    text-align: center;
    padding-top: 5%;
}

input {
    background-color: red;
    color: white;
    height: 100px;
    width: 300px;
    border: 0;
    border-radius: 5px;
    font-size: 30px;
    -webkit-appearance: none;
}

footer {
    padding-top: 90px;
    padding-left: 10px;
    color: white;
    text-align: left;
    font-size: 13px;
}

@media (max-width: 1032px) {
    body {
        margin: 0;
        padding-left: 0;
        border: none;
    }

    .head {
        text-align: center;
        padding-top: 0;
        font-size: 0.7em;
        margin-left: 0;
    }

    h2 {
        margin: 5px 0 0;
    }

    form {
        padding: 50px;
    }

    img {
        display: none;
    }

    footer {
        text-align: center;
        padding-top: 25%;
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    body {
        margin: 0;
        padding-left: 0;
        border: none;
    }

    .head {
        text-align: center;
        font-size: 0.7em;
        margin-left: 0;
    }

    h2 {
        margin: 50px;
    }

    form {
        padding: 50px;
    }

    img {
        display: none;
    }

    footer {
        text-align: center;
        padding-top: 25%;
        font-size: 14px;
    }
}